<div class="container mt-5">
  <div class="row justify-content-center">

    <!-- category filter bar -->
    <div class="container mt-3">
      <div class="justify-content-start">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          消費類別{{#if filterOption}} {{filterOption}}{{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/filter/family/asc" name="family"> 家居物業 </a>
          <a class="dropdown-item" href="/filter/transportation/asc" name="transportation"> 交通外出 </a>
          <a class="dropdown-item" href="/filter/entertainment/asc" name="entertainment">休閒娛樂</a>
          <a class="dropdown-item" href="/filter/food/asc" name="food">餐飲食品</a>
          <a class="dropdown-item" href="/filter/other/asc" name="other">其他</a>
        </div>
      </div>
    </div>

    <!--total Amount-->
    <div class="totalAmount m-5">
      <span>總金額：</span>
      <div class="row justify-content-center">
        <h2> {{totalAmount}}</h2>
      </div>
    </div>

    <!--total record list-->
    <div class="container mt-5">
      <div class="list-group">

        {{#each record}}
        <li class="list-group-item">

          <div class="list-left">
            <div class="category-icon">
              {{#ifEquals this.category 'family'}}<i class="fas fa-home"></i>{{/ifEquals}}
              {{#ifEquals this.category 'transportation'}}<i class="fas fa-shuttle-van"></i>{{/ifEquals}}
              {{#ifEquals this.category 'entertainment'}}<i class="fas fa-grin-beam"></i>{{/ifEquals}}
              {{#ifEquals this.category 'food'}}<i class="fas fa-utensils"></i>{{/ifEquals}}
              {{#ifEquals this.category 'other'}}<i class="fas fa-pen"></i>{{/ifEquals}}
            </div>
          </div>

          <div class="list-middle">
            <div class="list-name">{{this.name}}</div>
            <div class="list-date">{{this.date}}</div>
          </div>

          <div class="list-right">
            <div class="list-amount ml-2">{{this.amount}}</div>
          </div>
          <div class="list-button">
            <a href="records/{{ this._id }}/edit" class="btn btn-success">修改</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-danger ml-2" type="submit">刪除</button>
            </form>
          </div>
        </li>

        {{/each}}

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="mt-3">
        <a class="btn btn-primary" href="./records/new">新增支出</a>
      </div>
    </div>
  </div>